a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#737373; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#img_65637dac { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; height:auto;  }
#text_47bc8f75 { position:absolute; left:2%; top:33%; background:none;  }
.textstyle2 { font-size:20pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF;  }
#text_157c0625 { position:absolute; left:2%; top:15%; width:447px; height:38px; background:none;  }
.textstyle3 { font-size:24pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF;  }
#text_75ab97a8 { position:absolute; left:6%; top:58%; width:539px; height:105px; background:none;  }
.textstyle4 { font-size:14pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF;  }
#img_28beb0ad { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none; height:auto;  }
#img_e386fb8 { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none; height:auto;  }
