a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_78055da2 a { text-decoration: none; }
#menu_78055da2_pane { background-color: #2C2825; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_78055da2_hr { background-color: #646464; height: 1px; border: none; }
#menu_78055da2_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_78055da2_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_78055da2_entry:hover span { color:#FFFFFF !important; }
		.menu_78055da2_mainMenuEntry { text-align: center; }
		.menu_78055da2_mainMenuEntry:hover {	background-color:#FFFFFF; }
		.menu_78055da2_mainMenuEntry:hover span {	color:#000000 !important; }
		#menu_78055da2 .mobileEntry { display: none; } 
		#menu_78055da2 .normalEntry { display: block; } 
		@media only screen and (max-width:450px) { 
			#menu_78055da2 .mobileEntry { display: block; } 
			#menu_78055da2 .normalEntry { display: none; } 
		}
body { background-color:#737373; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#img_5e11d928 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; height:auto;  }
#text_2d7b4969 { position:absolute; left:3%; top:17%; width:933px; height:71px; background:none;  }
.textstyle2 { font-size:18pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFF00; font-style:italic;  }
#text_3bf7972b { position:absolute; left:4%; top:4%; width:940px; height:75px; background:none;  }
.textstyle3 { font-size:12pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF;  }
#container_7cabf6e6 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:14px; background-color:#2C2825;  }
#container_7cabf6e6_padding { margin: 10px; display: block;  }
.textstyle4 { text-align:center; }
#menu_78055da2 { vertical-align: bottom; position:relative; display: inline-block; width:853px; height:34px; max-width:800px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:100px; height:34px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:22px;  }
.textstyle5 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:24px;  }
.textstyle6 { font-size:13pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.menustyle2 { position:absolute; width:100px; height:34px; left:110px;  }
.menustyle3 { position:absolute; width:127px; height:34px; left:210px;  }
.menustyle4 { position:absolute; width:246px; height:34px; left:337px;  }
.menustyle5 { position:absolute; width:126px; height:34px; left:583px;  }
.menustyle6 { position:absolute; width:100px; height:34px; left:709px;  }
.menuentry_text3 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:19px;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.textstyle8 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
#text_6df3d864 { position:absolute; left:3%; top:32%; width:989px; height:316px; background:none;  }
.textstyle9 { font-size:11pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF;  }
.textstyle10 { font-size:11pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFF00;  }
.textstyle11 { font-size:11pt; font-family:'Arial Black', Gadget, sans-serif; color:#FF0000;  }
#img_28d8ef31 { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none; height:auto;  }
#img_41e5572d { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none; height:auto;  }
@media only screen and (max-width: 450px)
{
		#menu_78055da2 { width:100px;  }
}
