a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_154ecdc7 a { text-decoration: none; }
#menu_154ecdc7_pane { background-color: #2C2825; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_154ecdc7_hr { background-color: #646464; height: 1px; border: none; }
#menu_154ecdc7_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_154ecdc7_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_154ecdc7_entry:hover span { color:#FFFFFF !important; }
		.menu_154ecdc7_mainMenuEntry { text-align: center; }
		.menu_154ecdc7_mainMenuEntry:hover {	background-color:#FFFFFF; }
		.menu_154ecdc7_mainMenuEntry:hover span {	color:#000000 !important; }
		#menu_154ecdc7 .mobileEntry { display: none; } 
		#menu_154ecdc7 .normalEntry { display: block; } 
		@media only screen and (max-width:450px) { 
			#menu_154ecdc7 .mobileEntry { display: block; } 
			#menu_154ecdc7 .normalEntry { display: none; } 
		}
body { background-color:#737373; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#img_1d537268 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; height:auto;  }
.textstyle2 { text-align:center; }
#container_7448a63a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:14px; background-color:#2C2825;  }
#container_7448a63a_padding { margin: 10px; display: block;  }
#container_2c62af77 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:14px; background-color:#2C2825;  }
#container_2c62af77_padding { margin: 10px; display: block;  }
#menu_154ecdc7 { vertical-align: bottom; position:relative; display: inline-block; width:527px; height:34px; max-width:800px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:100px; height:34px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:24px;  }
.textstyle3 { font-size:13pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:22px;  }
.textstyle4 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.menustyle2 { position:absolute; width:100px; height:34px; left:110px;  }
.menustyle3 { position:absolute; width:100px; height:34px; left:210px;  }
.menustyle4 { position:absolute; width:100px; height:34px; left:310px;  }
.menustyle5 { position:absolute; width:126px; height:34px; left:410px;  }
.menustyle6 { position:absolute; width:100px; height:34px; left:536px;  }
.menuentry_text3 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:0px;  }
.textstyle5 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#pdf_91e0268 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:976px; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
#text_f38d05e { position:absolute; left:3%; top:27%; background:none;  }
.textstyle7 { font-size:20pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFF80; font-style:italic;  }
#text_2b5ed20c { position:absolute; left:3%; top:6%; width:566px; height:38px; background:none;  }
.textstyle8 { font-size:24pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF;  }
#text_7439ee00 { position:absolute; left:3%; top:52%; width:621px; height:105px; background:none;  }
.textstyle9 { font-size:14pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF;  }
@media only screen and (max-width: 450px)
{
		#menu_154ecdc7 { width:100px;  }
}
